/.github export-ignore
/build export-ignore
/docker export-ignore
/docs export-ignore
/tests export-ignore
.auto-changelog export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
grumphp.yml export-ignore
docker-compose.yaml export-ignore
psalm.xml export-ignore
phpunit.xml.dist export-ignore
